{% extends 'core/base.html' %}

{% block container %}
  <div class="col-sm-6 offset-sm-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Ana Sehife</a></li>
        <li class="breadcrumb-item"><a href="{{ todo.category.get_absolute_url }}">{{ todo.category.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ todo.title }}</li>
      </ol>
    </nav>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-primary">{{ todo.title }}</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ todo.category }}</h6>
        <p class="card-text">{{ todo.content }}</p>
        <ul class="list-unstyled">
          <li><small>Yaradildi: {{ todo.created_at|date:'D d M Y H:s' }}</small></li>
          <li><small>Deyisdirildi: {{ todo.updated_at|date:'D d M Y H:s' }}</small></li>
        </ul>
        <ul class="list-inline">
          {% for tag in todo.tag.all %}
          <li class="list-inline-item">
            <a href="{{ tag.get_absolute_url }}">
              <span class="badge rounded-pill text-bg-primary">{{ tag }}</span>
            </a>                      
          </li>
          {% endfor %}
        </ul>
        <a href="/" class="card-link">Geri Don</a>
      </div>
    </div>
  </div>
{% endblock container %}
